<h1 class="mb-4">Mon Bilan de Compétences</h1>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0">Mon consultant</h5>
      </div>
      <div class="card-body">
        <p>Information non disponible</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0">Prochains rendez-vous</h5>
      </div>
      <div class="card-body">
        <p>Vous n'avez pas de rendez-vous à venir.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0">Mes questionnaires</h5>
      </div>
      <div class="card-body">
        <p>Vous n'avez pas de questionnaires à compléter.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0">Mes documents</h5>
      </div>
      <div class="card-body">
        <p>Vous n'avez pas encore de documents.</p>
      </div>
    </div>
  </div>
</div>