<h1 class="mb-4">Tableau de bord Consultant</h1>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0">Mes bénéficiaires</h5>
      </div>
      <div class="card-body">
        <p>Vous n'avez pas encore de bénéficiaires.</p>
        <a href="#" class="btn btn-primary">Ajouter un bénéficiaire</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0">Prochains rendez-vous</h5>
      </div>
      <div class="card-body">
        <p>Vous n'avez pas de rendez-vous à venir.</p>
        <a href="#" class="btn btn-primary">Planifier un rendez-vous</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Messages récents</h5>
      </div>
      <div class="card-body">
        <p>Vous n'avez pas de messages récents.</p>
        <a href="#" class="btn btn-primary">Voir tous les messages</a>
      </div>
    </div>
  </div>
</div>